/* _footer.scss */

footer {
    overflow: hidden;
    background: $bp_color-lightgray;
    border-top:1px solid $border-color;
    padding-top:$offset-1;

    ul.ul-inline-piped {
        display:inline-block;
        list-style:none;
        text-align:center;

        li {
            display:inline-block;
            &:after {
                content:"|";
                margin:0 $offset-1;
            }

            &:last-child:after {
                display:none;
            }
        }
    }
}